[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "procmaps"]
	path = procmaps
	url = https://github.com/r-prof/procmaps
[submodule "proffer"]
	path = proffer
	url = https://github.com/r-prof/proffer
[submodule "profile"]
	path = profile
	url = https://github.com/r-prof/profile
[submodule "winch"]
	path = winch
	url = https://github.com/r-prof/winch
